<div class="overflow-hidden">
  <div class="menu-mask d-none"></div>
  <!-- MOBILE MENU HOLDER -->
  <div class="mobile-menu-holder">
    <div class="modal-menu-container">
      <div class="exit-mobile" (click)="closeMenu()">
        <img src="assets/images/icon_close_popup.svg" class="img-responsive" />
      </div>
      <ul class="menu-mobile">
        <!-- <li class="current-menu-item">
                <a href="index.html">Home</a>
            </li> -->

        <li class="menu-item">
          <a (click)="home()">Home</a>
        </li>

        <!-- <li class="menu-item">
            <a href="about-us.html" aria-label="About Us">About Us</a>
          </li> -->
        <li class="menu-item">
          <a (click)="service()">Our Services</a>
        </li>
        <li class="menu-item" *ngIf="!data">
          <a [routerLink]="['/join']">Join Us</a>
        </li>
        <li class="menu-item" *ngIf="data">
          <a [routerLink]="['/bookings']">Bookings</a>
        </li>
        <li class="menu-item">
          <a (click)="book()" aria-label="Book Now">Book Now</a>
        </li>

        <li class="menu-item" *ngIf="data">
          <a>{{ name }} {{ name1 }}</a>
        </li>
        <li class="menu-item" *ngIf="data">
          <a [routerLink]="['/change-password']">Change Password</a>
        </li>
        <li *ngIf="data" class="menu-item">
          <a (click)="logouts()">Logout</a>
        </li>

        <li class="menu-item" *ngIf="!data">
          <a [routerLink]="['/login']" aria-label="Book Now">My Account</a>
        </li>

        <!-- <li class="menu-item mega-menu">
                <a href="product-category.html">Collections</a>
  
                <ul class="sub-menu">
                    <li class="menu-item">
                        <a href="#">Small Sheds</a>
                    </li>
  
                    <li class="menu-item">
                        <a href="#">Small Sheds</a>
                    </li>
  
                    <li class="menu-item">
                        <a href="#">Small Sheds</a>
                    </li>
  
                    <li class="menu-item">
                        <a href="#">Small Sheds</a>
                    </li>
                </ul>
            </li> -->
      </ul>
    </div>
  </div>
  <!-- /Mobile Menu Holder -->

  <!-- Header -->
  <header class="main-header header-1">
    <div class="top-header xxs-d-none" style="background: #59a52c">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="display: flex">
            <a href="tel:+411125477" class="head-tel"
              ><i class="fa fa-phone"></i> 0411 125 477</a
            >
            <a class="tel-right" href="mailto:info@romedia.com"
              ><i class="fa fa-envelope-o"></i> info@blissfulhomes.com.au</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12 xs-sm-d-flex xs-sm-align-center">
          <div class="logo">
            <a href="index.html">
              <img class="img-responsive" src="assets/images/logo.png" alt="" />
            </a>
          </div>

          <button
            type="button"
            class="nav-button d-none ml-auto xs-sm-d-flex xs-sm-d-block"
            (click)="toggleMenu()"
          >
            <img src="assets/images/icon_menu.svg" style="width: 24px" />
          </button>
        </div>

        <div class="col-md-5 xs-sm-d-none" [ngClass]="{ 'd-none': isMenuOpen }">
          <nav class="nav-holder d-flex align-items-center justify-content-end">
            <ul class="menu-nav">
              <li class="menu-item">
                <a (click)="home()">Home</a>
              </li>
              <!-- <li class="menu-item"><a href="about-us.html">About Us</a></li> -->
              <li class="menu-item">
                <a (click)="service()" style="color: #59a52c !important"
                  >Our Services</a
                >
              </li>
              <li class="menu-item" *ngIf="!data">
                <a [routerLink]="['/join']">Join Us</a>
              </li>
              <li class="menu-item" *ngIf="data">
                <a [routerLink]="['/bookings']">Bookings</a>
              </li>
              <!-- <li class="menu-item mega-menu">
                          <a href="#">Global</a>
  
                          <ul class="sub-menu">
                              <li class="menu-item">
                                  <a href="#">Small Sheds</a>
  
                                  <ul class="sub-menu">
                                      <li class="menu-item"><a href="#">New Arrivals</a></li>
                                      <li class="menu-item"><a href="#">Best Sellers</a></li>
                                      <li class="menu-item"><a href="#">Back in Stock</a></li>
                                  </ul>
                              </li>
                              <li class="menu-item">
                                  <a href="#">Small Sheds</a>
                              </li>
  
                              <li class="menu-item">
                                  <a href="#">Small Sheds</a>
                              </li>
  
                              <li class="menu-item">
                                  <a href="#">Small Sheds</a>
                              </li>
                          </ul>
                      </li> -->
            </ul>
          </nav>
        </div>

        <div class="col-md-2 xs-sm-d-none">
          <a (click)="book()" class="btn-blue book-btn" style="width: 100%"
            >Book Now</a
          >
        </div>
        <div class="col-md-1 xs-sm-d-none d-flex justify-content-end">
          <li class="header-profile dropdown">
            <a
              class=""
              type="button"
              id="dropdownMenuButton"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user"></i>
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="dropdownMenuButton"
              *ngIf="!data"
            >
              <li>
                <a class="dropdown-item" [routerLink]="['/login']"
                  >My Account</a
                >
              </li>
            </ul>

            <ul
              class="dropdown-menu"
              aria-labelledby="dropdownMenuButton"
              *ngIf="data"
            >
              <li>
                <a class="dropdown-item">{{ name }} {{ name1 }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/change-password']"
                  >Change Password</a
                >
              </li>
              <li><a class="dropdown-item" (click)="logouts()">Logout</a></li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </header>
  <!-- /Header -->

  <div
    id="banner_outer"
    class="internal-banner position-relative bg-cover"
    style="
      background: url(./assets/images/banner-background.jpg) no-repeat center;
    "
  >
    <div class="after-height">
      <div class="container">
        <div class="row justify-content-around">
          <div class="col-lg-7 col-md-8 text-center">
            <h1>Our Services</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="tb-equal position-relative">
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <div class="col-lg-10 col-md-12 text-center after-circle">
          <h2>
            How <span style="color: #59a52c">we</span>
            Work
          </h2>
        </div>

        <div class="col-lg-11 col-md-12 mt-80">
          <div class="grid-column-2">
            <div class="quote">
              <figure>
                <img
                  src="assets/images/i-calander.svg"
                  class="img-responsive"
                />
              </figure>
              <div>
                <h3>Book a Service</h3>
                <p>
                  Schedule a personalized cleaning service using our online
                  booking form.
                </p>
              </div>
            </div>

            <div class="quote">
              <figure>
                <img src="assets/images/i-home.svg" class="img-responsive" />
              </figure>
              <div>
                <h3>Assign</h3>
                <p>
                  We will assign a trusted professional cleaner from our team.
                </p>
              </div>
            </div>

            <div class="quote">
              <figure>
                <img src="assets/images/i-fingure.svg" class="img-responsive" />
              </figure>
              <div>
                <h3>Pay</h3>
                <p>
                  Payment will be securely processed upon completion of the
                  cleaning service.
                </p>
              </div>
            </div>

            <div class="quote">
              <figure>
                <img src="assets/images/i-fingure.svg" class="img-responsive" />
              </figure>
              <div>
                <h3>Review</h3>
                <p>
                  Provide feedback to us and your cleaners to help improve your
                  experience next time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="position-relative">
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <div class="col-lg-12 col-md-12">
          <div
            class="position-relative cta-section bg-cover"
            style="background: #000 url(./images/office-cleaning.png) no-repeat"
          >
            <h2>
              Need a <span style="color: #137dc5">Blissful home</span><br />
              in your life?
            </h2>
            <a class="btn-blue z-index-9" (click)="book()">Get Quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-80 position-relative">
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <div class="col-lg-10 col-md-12 text-center after-circle">
          <h2>
            Services<br />
            <span style="color: #59a52c">Checklist</span>
          </h2>
        </div>

        <div class="col-lg-12 col-md-12 mt-80">
          <table class="table text-center table-style">
            <tbody>
              <tr>
                <th scope="col">Area</th>
                <th scope="col">Regular Clean</th>
                <th scope="col">Deep Clean</th>
                <th scope="col">Move in / Move Out</th>
              </tr>
              <!-- Loop through checkList to display area names and items -->
              <ng-container *ngFor="let area of checkList">
                <!-- Area name spanning all columns -->
                <tr>
                  <th colspan="4">{{ area.checkListAreaName }}</th>
                </tr>
                <!-- Inner loop to iterate over checkListItems within each area -->
                <tr *ngFor="let item of area.checkListItems">
                  <td>{{ item.checkListItem }}</td>
                  <td>
                    <ng-container
                      *ngIf="
                        item.regularCleanIncludedExcluded !== 'True' &&
                          item.regularCleanIncludedExcluded !== 'False';
                        else regularCleanDefaultContent
                      "
                    >
                      {{ item.regularCleanIncludedExcluded }}
                    </ng-container>
                    <ng-template #regularCleanDefaultContent>
                      <img
                        *ngIf="item.regularCleanIncludedExcluded === 'True'"
                        decoding="async"
                        src="assets/images/checkbox.svg"
                        class="img-responsive"
                      />
                      <img
                        *ngIf="item.regularCleanIncludedExcluded === 'False'"
                        decoding="async"
                        src="assets/images/cross.svg"
                        class="img-responsive"
                      />
                    </ng-template>
                  </td>

                  <td>
                    <ng-container
                      *ngIf="
                        item.deepCleanIncludedExcluded !== 'True' &&
                          item.deepCleanIncludedExcluded !== 'False';
                        else deepCleanDefaultContent
                      "
                    >
                      {{ item.deepCleanIncludedExcluded }}
                    </ng-container>
                    <ng-template #deepCleanDefaultContent>
                      <img
                        *ngIf="item.deepCleanIncludedExcluded === 'True'"
                        decoding="async"
                        src="assets/images/checkbox.svg"
                        class="img-responsive"
                      />
                      <img
                        *ngIf="item.deepCleanIncludedExcluded === 'False'"
                        decoding="async"
                        src="assets/images/cross.svg"
                        class="img-responsive"
                      />
                    </ng-template>
                  </td>

                  <td>
                    <ng-container
                      *ngIf="
                        item.moveInOutIncludedExcluded !== 'True' &&
                          item.moveInOutIncludedExcluded !== 'False';
                        else moveInOutDefaultContent
                      "
                    >
                      {{ item.moveInOutIncludedExcluded }}
                    </ng-container>
                    <ng-template #moveInOutDefaultContent>
                      <img
                        *ngIf="item.moveInOutIncludedExcluded === 'True'"
                        decoding="async"
                        src="assets/images/checkbox.svg"
                        class="img-responsive"
                      />
                      <img
                        *ngIf="item.moveInOutIncludedExcluded === 'False'"
                        decoding="async"
                        src="assets/images/cross.svg"
                        class="img-responsive"
                      />
                    </ng-template>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section
    class="position-relative mt-80 half-bg-blue"
    style="padding-bottom: 50px"
  >
    <div class="container">
      <div class="row justify-content-around align-items-center">
        <div class="gold-text text-center col-lg-8 col-md-12">
          <h2>
            Our
            <span style="color: #137dc5"
              >Extra<br />
              Cleaning</span
            >
            Options
          </h2>
          <p>
            Tailor your cleaning service to meet your exact needs and
            preferences by selecting from our optional extras
          </p>
        </div>

        <div
          class="col-lg-12 col-md-12 xs-sm-mt-20 d-grid services-repeat-4 mt-50"
        >
          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Oven cleaning</h4>
            <p>
              Our oven cleaning service delivers thorough and meticulous
              sanitation, ensuring your oven is spotless and ready for your
              culinary creations.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Rangehood</h4>
            <p>
              Our rangehood cleaning service guarantees a meticulous and
              thorough cleaning, ensuring your rangehood operates efficiently
              and your kitchen remains fresh and clean.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Dishwasher interior</h4>
            <p>
              Our dishwasher interior cleaning service ensures a thorough and
              hygienic cleanse, leaving your dishwasher sparkling and ready to
              tackle your next load of dishes with peak efficiency.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Fridge interior</h4>
            <p>
              Our fridge interior cleaning service provides a comprehensive and
              meticulous cleanse, ensuring your refrigerator is sanitized,
              organized, and ready to preserve your food items at their best.
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section
    class="position-relative mt-80 half-bg-blue"
    style="padding-bottom: 50px"
  >
    <div class="container">
      <div class="row justify-content-around align-items-center">
        <div
          class="col-lg-12 col-md-12 xs-sm-mt-20 d-grid services-repeat-4 mt-50"
        >
          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Windows interior</h4>
            <p>
              Our internal window cleaning service ensures a thorough cleanse,
              addressing the glass, sills, and tracks, leaving your windows
              immaculate and your space bright and inviting.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Wall washing</h4>
            <p>
              Our wall washing service provides a deep and thorough cleanse,
              ensuring your walls are free from dust, stains, and grime,
              revitalizing the appearance of your space.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Sliding doors</h4>
            <p>
              Our sliding door cleaning service offers a meticulous cleanse,
              ensuring smooth operation and a pristine appearance, allowing you
              to enjoy unobstructed views and easy access to the outdoors.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Blinds</h4>
            <p>
              Our sliding door cleaning service offers a meticulous cleanse,
              ensuring smooth operation and a pristine appearance, allowing you
              to enjoy unobstructed views and easy access to the outdoors..
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section
    class="position-relative mt-80 half-bg-blue"
    style="padding-bottom: 50px"
  >
    <div class="container">
      <div class="row justify-content-around align-items-center">
        <div
          class="col-lg-12 col-md-12 xs-sm-mt-20 d-grid services-repeat-4 mt-50"
        >
          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Cabinets Internal</h4>
            <p>
              Our internal cabinet cleaning service provides a thorough and
              detailed cleanse, ensuring every shelf and surface is free from
              dust, dirt, and spills, resulting in a well-organized and hygienic
              storage space for your belongings.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Balcony / Patio / Deck</h4>
            <p>
              Our balcony/patio/deck cleaning service offers a comprehensive
              cleanse, removing dirt, debris, and stains to restore the beauty
              and functionality of your outdoor space, providing you with a
              fresh and inviting area to relax and entertain.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Garage sweep</h4>
            <p>
              Our garage sweep and tidy service ensure a thorough cleansing,
              eliminating dirt, and debris to transform your garage into a clean
              and functional space.
            </p>
          </a>

          <a href="javascript:void" class="services-items-p text-center">
            <div>
              <img src="assets/images/torservices.png" class="img-responsive" />
            </div>
            <h4>Laundry Services</h4>
            <p>
              Comprehensive solution for all your laundry needs. We handle
              everything from washing and drying to folding and ironing,
              ensuring your clothes are treated with the utmost care.
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-80 position-relative">
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <!-- <div class="col-lg-10 col-md-12 text-center after-circle">
          <h2>Exclusions</h2>
     
        </div> -->

        <div class="col-lg-10 col-md-12 text-center after-circle">
          <h2>
            Exclusions<br />
            <!-- <span style="color: #59a52c">Checklist</span> -->
          </h2>
        </div>

        <div class="col-lg-12 col-md-12 mt-50">
          <ul>
            <li *ngFor="let exclusion of exclusions">
              {{ exclusion.exclusion }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="position-relative tb-equal">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-5 col-md-12">
          <div class="faq-items" style="text-align: justify">
            <h2>
              FAQs: Frequently<br />
              Asked Questions
            </h2>
            <div class="mt-20"></div>

            <p>
              Check out the common inquiries our clients have about our services
              and procedures. We’ve provided detailed answers to give you a
              thorough understanding of our home cleaning services.
            </p>

            <p>
              Don’t see your question listed? Don’t hesitate to reach out to us.
              We’re here to address any queries and assist you in achieving a
              blissful home
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 gold-text xs-sm-mt-40">
          <div id="accordion" class="accordion-tbs faqP">
            <div
              class="card"
              *ngFor="let item of faq; let i = index"
              style="text-align: justify"
            >
              <div class="card-header" [id]="'heading' + i">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link"
                    (click)="toggle(i)"
                    [attr.data-target]="'#collapse' + i"
                    [attr.aria-expanded]="i === expandedIndex"
                    [attr.aria-controls]="'collapse' + i"
                  >
                    {{ item?.faqQuestion }}
                  </button>
                </h5>
              </div>

              <div
                [id]="'collapse' + i"
                class="collapse"
                [ngClass]="{ show: i === expandedIndex }"
                [attr.aria-labelledby]="'heading' + i"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>{{ item?.faqAnswer }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="position-relative">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-xl-5 col-lg-6 col-md-12">
          <div class="consultation">
            <h3>
              Experience Our Service With
              <span style="color: #137dc5">$25 off</span> On Your First Regular
              House Cleaning Appointment.
            </h3>
            <p>
              Give us a try with a discounted first regular cleaning before
              committing to recurring cleaning services.
            </p>

            <form [formGroup]="discountForm" (ngSubmit)="discount()">
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Email Address *"
                required
              />
              <input type="submit" class="btn-blue mt-20" value="Get Coupon" />
            </form>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 ulink">
          <!-- <h2>Drop us a line to get your next project started. We'd love to hear from you.</h2> -->
          <div class="mt-20"></div>

          <div class="foot-two-column">
            <div>
              <h4>Helpful Links</h4>
              <div class="mt-20"></div>

              <ul>
                <li><a (click)="home()">Home</a></li>
                <li>
                  <a (click)="service()"> Our Services</a>
                </li>
                <!-- <li><a href="#">About Us</a></li> -->
                <li><a [routerLink]="['/join']" *ngIf="!data">Join Us</a></li>
                <li><a (click)="book()">Book Now</a></li>

                <li><a (click)="privacy()">Privacy Policy</a></li>
                <li><a (click)="term()">Terms and Conditions</a></li>

                <!-- <li><a href="#">Cookie and Data Policy</a></li>					 -->
              </ul>
            </div>

            <div>
              <h4>Contact info</h4>
              <div class="mt-20"></div>

              <div class="text-left info_adderss">
                <a href="tel:+0411125477">0411 125 477</a>
                <a href="mailto:info@blissfulhomes.com.au"
                  >info@blissfulhomes.com.au</a
                >
                <!--  <p>Monday - Friday: 9:00 AM - 5:30 PM</p>
                            <p>Sunday: By Appointment</p> -->
              </div>

              <ul class="d-flex social_info">
                <li>
                  <a
                    href="https://www.facebook.com/profile.php?id=61560491974886"
                    ><img
                      src="assets/images/facebook.svg"
                      class="img-responsive"
                  /></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/blissfulhomescleaning/"
                    ><img
                      src="assets/images/instagram.svg"
                      class="img-responsive"
                  /></a>
                </li>
                <li>
                  <a href="https://www.pinterest.com.au/blissfulhomescleaning/"
                    ><img
                      src="assets/images/pinterest.svg"
                      class="img-responsive"
                  /></a>
                </li>
                <li>
                  <a href="https://x.com/blissful__homes"
                    ><img
                      src="assets/images/twitter.svg"
                      class="img-responsive"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-fluid mt-40"
      style="border-top: 1px solid #fff; padding: 30px 0px"
    >
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <p>
            ©
            <a href="#" style="color: #137dc5; font-weight: 600">
              Just Synergistic Brilliance Pty Ltd Trading as Blissful Homes</a
            >
            2024. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
<style>
  @media only screen and (max-width: 991px) {
    .xs-sm-d-block {
      display: block !important;
    }
  }
</style>
