<div class="overflow-hidden">
  <div class="menu-mask d-none"></div>

  <!-- MOBILE MENU HOLDER -->
  <div class="mobile-menu-holder" [class.is-active]="isMenuOpen">
    <div class="modal-menu-container">
      <div class="exit-mobile" (click)="closeMenu()">
        <img src="assets/images/icon_close_popup.svg" class="img-responsive" />
      </div>
      <ul class="menu-mobile">
        <li class="menu-item">
          <a href="https://blissfulhomes-staging.azurewebsites.net/">Home</a>
        </li>
        <li class="menu-item">
          <a href="https://blissfulhomes-staging.azurewebsites.net/our-services/">Our Services</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/bookings']">Bookings</a>
        </li>
        <li class="menu-item">
          <a (click)="send()" aria-label="Book Now">Book Now</a>
        </li>
        <li class="menu-item"><a>{{name}} {{name1}}</a></li>
        <li class="menu-item">
          <a [routerLink]="['/change-password']">Change Password</a>
        </li>
        <li class="menu-item">
          <a (click)="logouts()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Mobile Menu Holder -->

  <!-- Header -->
  <header class="main-header header-1">
    <div class="top-header xxs-d-none" style="background: #59a52c">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="display: flex">
            <a href="tel:+411125477" class="head-tel">
              <i class="fa fa-phone"></i> 0411 125 477
            </a>
            <a class="tel-right" href="mailto:info@romedia.com">
              <i class="fa fa-envelope-o"></i> info@blissfulhomes.com.au
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12 xs-sm-d-flex xs-sm-align-center">
          <div class="logo">
            <a href="index.html">
              <img class="img-responsive" src="assets/images/logo.png" alt="" />
            </a>
          </div>

          <button
            type="button"
            class="nav-button d-none ml-auto xs-sm-d-flex xs-sm-d-block"
            (click)="toggleMenu()"
          >
            <img src="assets/images/icon_menu.svg" style="width: 24px" />
          </button>
        </div>

        <div class="col-md-4 xs-sm-d-none ml-auto" [ngClass]="{ 'd-none': isMenuOpen }">
          <nav class="nav-holder d-flex align-items-center justify-content-end">
            <ul class="menu-nav">
              <li class="menu-item">
                <a href="https://blissfulhomes-staging.azurewebsites.net/">Home</a>
              </li>
              <li class="menu-item">
                <a href="https://blissfulhomes-staging.azurewebsites.net/our-services/">Our Services</a>
              </li>
              <li class="menu-item">
                <a [routerLink]="['/bookings']" routerLinkActive="active" style="color: #59A52C;"
                  >Bookings</a
                >
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-md-2 xs-sm-d-none">
          <a (click)="send()" class="btn-blue" style="width: 100%">Book Now</a>
        </div>

        <div class="col-md-1 xs-sm-d-none d-flex justify-content-end">
          <li class="header-profile">
            <a class="" type="button" id="dropdownMenuButton">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a class="dropdown-item">{{name}} {{name1}}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/change-password']">Change Password</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logouts()">Logout</a>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </header>
  <!-- /Header -->

  <div class="container main-content">
    <div class="row-grid responsive-grid none-grid-xs-sm">
      <div class=" booking-new" >
        <div class="booking-summ">
          <h3>Booking Summary</h3>
          <ul *ngIf="summaryData?.serviceTotal != 0">
            <li>
              <i class="fa fa-home"></i>
              <strong>{{summaryData?.includeServices}} </strong>
            </li>
            <li>
              ${{summaryData?.serviceTotal.toFixed(2)}}<label *ngIf="summaryData?.serviceTotal == null">0</label>
            </li>
          </ul>

          <ul *ngFor="let item of summaryData?.extraBookings">
            <li>{{item?.serviceName}}</li>
            <li>${{item?.price.toFixed(2)}}</li>
          </ul>

          <ul>
            <li>
              <i class="fa fa-calendar"></i>
              <strong>{{summaryData?.bookingDate}} @{{summaryData?.bookingTime}}</strong>
            </li>
            <li></li>
          </ul>

          <ul>
            <li>Sub-Total</li>
            <li>
              ${{summaryData?.subTotal.toFixed(2)}}<label *ngIf="summaryData?.subTotal == null">0</label>
            </li>
          </ul>

          <ul>
            <li>Discount</li>
            <li>
              ${{((summaryData?.discount || 0) + (summaryData?.discountCodeDiscount || 0)).toFixed(2)}}
            </li>
          </ul>


          

          <ul style="padding-top: 20px; border-top: 1px solid #ddd">
            <li colspan="2"><strong>Total Including GST</strong></li>
            <li style="color: #137dc5">
              <strong>${{summaryData?.total.toFixed(2)}}<label *ngIf="summaryData?.total == null">0</label></strong>
            </li>
          </ul>
        </div>
        <div class="booking-submit mt-40 text-center">
          <a class="btn-blue" data-toggle="modal" data-target="#reschedule">Reschedule</a>
          <a class="btn-dark" data-toggle="modal" data-target="#list-cross-mess">Cancel</a>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer" class="position-relative">
    <div class="container">
      <div class="row justify-content-around">
       
        <div class="col-lg-4 col-md-12 ulink">
         
          <h4>Helpful Links</h4>
          <div class="mt-20"></div>
          <ul>
            <li><a href="https://blissfulhomes-staging.azurewebsites.net/">Home</a></li>
            <!-- <li><a href="#">About Us</a></li>-->
            <li><a href="https://blissfulhomes-staging.azurewebsites.net/our-services/">Services</a></li>
            <!-- <li><a href="https://blissfulhomes-staging.azurewebsites.net/contact/">Contact</a></li> -->
            <li><a href="http://blissfull-booking-form.s3-website.us-east-2.amazonaws.com/#/booking-form">Book Online</a></li>
            <li><a href="https://blissfulhomes-staging.azurewebsites.net/terms-conditions/">Terms and Conditions</a></li>
            <li><a href="https://blissfulhomes-staging.azurewebsites.net/privacy-policy/">Privacy Policy</a></li>
            <!-- <li><a href="#">Cookie and Data Policy</a></li>-->
          </ul>
      
      </div>
      <div class="col-lg-4 col-md-12 ulink">
          <h4>Contact info</h4>
          <div class="mt-20"></div>

          <div class="text-left info_adderss">
            <a href="tel:+0411125477">0411 125 477</a>
            <a href="mailto:info@blissfulhomes.com.au">info@blissfulhomes.com.au</a>
            <!-- <p>Monday - Friday: 9:00 AM - 5:30 PM</p>
            <p>Sunday: By Appointment</p> -->
          </div>
        </div>
        <div class="col-lg-3 col-md-12 ml-auto ulink">
          <h4>Social</h4>
          <ul class="d-flex social_info">
            <li>
              <a href="https://www.facebook.com/people/Blissful-Homes/61560491974886/?mibextid=LQQJ4d"
                ><img
                  src="assets/images/facebook.svg"
                  class="img-responsive"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/blissfulhomescleaning/"
                ><img
                  src="assets/images/instagram.svg"
                  class="img-responsive"
              /></a>
            </li>
            <li>
              <a href="https://www.pinterest.com.au/blissfulhomescleaning/"
                ><img
                  src="assets/images/pinterest.svg"
                  class="img-responsive"
              /></a>
            </li>
            <li>
              <a href="https://x.com/i/flow/login?redirect_after_login=%2Fblissful__homes"
                ><img
                  src="assets/images/twitter.svg"
                  class="img-responsive"
              /></a>
            </li>
          </ul>
        </div>
        </div>
        </div>


    <div class="container-fluid" style="border-top: 1px solid #fff; padding: 30px 0px 30px">
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <p>© <a href="#" style="color: #137DC5; font-weight: 600;">Just Synergistic Brilliance Pty Ltd Trading as
              Blissful Homes</a> 2024. All rights reserved.</p>

        </div>

      </div>
    </div>
  </footer>
</div>
<div class="modal fade" id="reschedule" tabindex="-1" role="dialog"
aria-labelledby="cancel-messLabel" aria-hidden="true" style="padding-top: 30px;">
<div class="modal-dialog" role="document">
    <div class="modal-content warning-content">

        <div class="modal-body text-center warning-mess-sec">
            <button type="button" class="close float-right" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form [formGroup]="bookingForm">
              <div class="mt-20 mb-20">
                <h3 style="color: #137dc5;">Reschedule Booking</h3>
              </div>
              <div class="row">
                <div class="col-md-8 res-popup">
                  <label for="bookingDate">Date</label>
                  <input type="text" class="form-control" placeholder="dd-mm-yyyy" formControlName="bookingDate"
                      bsDatepicker [bsConfig]="bsConfig" (bsValueChange)="setToDateMinDate($event)" readonly />
                </div>
                
                <div class="col-md-8 res-popup">
                  <label for="bookingTime">Time</label>
                  <select type="text" class="form-control" placeholder="Your Answer" formControlName="bookingTime"
                    (change)="getTime(bookingForm.value.bookingTime)">
                    <option *ngFor="let item of timingList">
                      {{ item }}
                    </option>
                  </select>
                  <!-- <div *ngIf="submitted && bookingForm.get('bookingTime')?.errors" class="text-danger">
                    Time is required.
                  </div> -->
                </div>
            
                <div class="col-md-8 res-popup">
                  <label for="frequency">Frequency</label>
                  <select type="text" class="form-control" formControlName="frequency" (change)="bookingFrequency($event)">
                    <option value="W">Weekly</option>
                    <option value="F">Fornightly</option>
                    <option value="O">Once Off</option>
                  </select>
                </div>
              </div>
      
      
        <div class="modal-footer">
            <button type="button" class=" cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn_delete"  (click)="rescheduleBooking()">Submit
                </button>
        </div>
      </form>
    </div>
</div>
</div>
</div>
<div class="modal fade" id="list-cross-mess" tabindex="-1" role="dialog"
aria-labelledby="cancel-messLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content warning-content">

        <div class="modal-body text-center warning-mess-sec">
            <button type="button" class="close float-right" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <img src="assets\images\warning.png">
            <h2>Alert</h2>
            <p>Are you sure, you want to cancel this booking?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class=" cancel-btn" data-dismiss="modal">No</button>
            <button type="button" class="btn_delete"  (click)="cancelBookiing(105)">Yes,
                Cancel It</button>
        </div>
    </div>
</div>
</div>