<div class="container ">
    <div class="row-grid responsive-grid none-grid-xs-sm">
      <div class="fixed static-sidebar stick booking-new" id="sticky">
        <div class="booking-summ ">
          <h3>Booking Summary</h3>
  
          <ul *ngIf="summaryData?.serviceTotal != 0">
            <li>
              <i class="fa fa-home"></i>
              <strong>{{ summaryData?.includeServices }} </strong>
            </li>
            <li>
              ${{ summaryData?.serviceTotal.toFixed(2) }}<label *ngIf="summaryData?.serviceTotal == null">0</label>
            </li>
          </ul>
  
          <ul *ngFor="let item of summaryData?.extraBookings">
            <li>{{ item?.serviceName }}</li>
            <li>${{ item?.price.toFixed(2) }}</li>
          </ul>
  
          <ul>
            <li>
              <i class="fa fa-calendar"></i>
              <strong>{{ summaryData?.bookingDate  }}&nbsp; @{{ summaryData?.bookingTime }}</strong>
            </li>
            <li></li>
          </ul>
  
          <ul>
            <li>Sub-Total</li>
            <li>
              ${{ summaryData?.subTotal.toFixed(2) }}<label *ngIf="summaryData?.subTotal == null">0</label>
            </li>
          </ul>
  
          <ul>
            <li>Discount</li>
            <li>
              ${{
              (summaryData?.discount || 0).toFixed(1) + (summaryData?.discountCodeDiscount || 0).toString().slice(0, 3)
              }}
            </li>
          </ul>
  
          <ul style="padding-top: 20px; border-top: 1px solid #ddd">
            <li colspan="2"><strong>Total Including GST</strong></li>
            <li style="color: #137dc5">
              <strong>${{ summaryData?.total.toFixed(2) }}<label *ngIf="summaryData?.total == null">0</label></strong>
            </li>
          </ul>
        </div>
        <div class="booking-submit mt-40 text-center">
            <a class="btn-blue" data-toggle="modal" data-target="#reschedule">Reschedule</a>  
            <a class="btn-dark" data-toggle="modal" data-target="#list-cross-mess">Cancel</a>
          </div>
      </div>
      <div class="modal fade" id="list-cross-mess" tabindex="-1" role="dialog"
      aria-labelledby="cancel-messLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content warning-content">

              <div class="modal-body text-center warning-mess-sec">
                  <button type="button" class="close float-right" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <img src="assets\images\warning.png">
                  <h2>Alert</h2>
                  <p>Are You Sure, You want to Cancel it?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class=" cancel-btn" data-dismiss="modal">No</button>
                  <button type="button" class="btn_delete"  (click)="cancelBookiing(105)">Yes,
                      Cancel It</button>
              </div>
          </div>
      </div>
  </div>

<!-- --Modal Reschedule-- -->
<div class="modal fade" id="reschedule" tabindex="-1" role="dialog"
aria-labelledby="cancel-messLabel" aria-hidden="true" style="padding-top: 30px;">
<div class="modal-dialog" role="document">
    <div class="modal-content warning-content">

        <div class="modal-body text-center warning-mess-sec">
            <button type="button" class="close float-right" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form [formGroup]="bookingForm">
              <div class="mt-20">
                <h3>Reschedule Booking</h3>
              </div>
              <div class="row">
                <div class="col-md-8 res-popup">
                  <label for="bookingDate">Date</label>
                  <input type="text" class="form-control" placeholder="dd-mm-yyyy" formControlName="bookingDate"
                    bsDatepicker [bsConfig]="bsConfig" (bsValueChange)="setToDateMinDate($event)" readonly />
                </div>
                
                <div class="col-md-8 res-popup">
                  <label for="bookingTime">Time</label>
                  <select type="text" class="form-control" placeholder="Your Answer" formControlName="bookingTime"
                    (change)="getTime(bookingForm.value.bookingTime)">
                    <option *ngFor="let item of timingList">
                      {{ item }}
                    </option>
                  </select>
                  <!-- <div *ngIf="submitted && bookingForm.get('bookingTime')?.errors" class="text-danger">
                    Time is required.
                  </div> -->
                </div>
            
                <div class="col-md-8 res-popup">
                  <label for="frequency">Frequency</label>
                  <select type="text" class="form-control" formControlName="frequency" (change)="bookingFrequency($event)">
                    <option value="W">Weekly</option>
                    <option value="F">Fornightly</option>
                    <option value="O">Once Off</option>
                  </select>
                </div>
              </div>
      
      
        <div class="modal-footer">
            <button type="button" class=" cancel-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn_delete"  (click)="rescheduleBooking()">Submit
                </button>
        </div>
      </form>
    </div>
</div>
</div>
    </div>
  </div>
  