<div class="login-outer">
    <div class="login-items input-forms">

        <div class="part1"
            style="background: #eee url(./assets/images/lefbg.png)no-repeat; display: grid; justify-content: center; align-content: center;">
            <a  [routerLink]="['/']" ><img src="assets/images/logo.png" style="max-width: 300px;" class="logo-log"></a>
        </div>
        <form [formGroup]="form" (ngSubmit)="changePassword()">
            <div class="part2" style="    padding: 30px 60px 30px 60px; background: #1D72F1;">

                <h2 style="font-size: 30px !important;">Change Password</h2>
                <div class="mt-30"></div>

                <label>Old Password</label>
                <div class="d-flex position-relative">
                <input [type]="showPassword1 ? 'text' : 'password'" class="form-control password" formControlName="oldPassword"
                [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }" />
                <div class="eye-icon" (click)="togglePasswordVisibility1()">
                    <i class="fa" [ngClass]="showPassword1 ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
                </div>
                </div>
                <div *ngIf="submitted && f['oldPassword'].errors" class="help-block" >
                    <div *ngIf="f['oldPassword'].errors['required']">Old password is required
                    </div>
                    
                </div>

                <div>
                    <label for="newPassword">New Password</label>
                    <div class="d-flex position-relative">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control password"
                            formControlName="newPassword"
                            [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }" />
                        <div class="eye-icon" (click)="togglePasswordVisibility()">
                            <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div *ngIf="submitted && f['newPassword'].errors" class="help-block"
                        >
                        <div *ngIf="f['newPassword'].errors['required']">Password is required</div>
                    </div>
                </div>

                <label for="confirmPassword">Confirm Password</label>
                <div class="d-flex position-relative">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control password"
                        formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" id="confirmPassword" />
                    <div class="eye-icon" (click)="toggleConfirmPasswordVisibility()">
                        <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                            aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngIf="submitted && f['confirmPassword'].errors" class="help-block"
                   >
                    <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                    <div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match</div>
                </div>

                <!-- <div class="grid-col-2">
                 <div class="signed-in">
                     <input type="checkbox" class="checkbox-input"><label for="css">Remember Me</label>
                 </div>
                 <a [routerLink]="['/forgot-password']" class="forgot">Forgot Password?</a>
             </div> -->

                <input type="submit" value="Submit">

            </div>
        </form>
    </div>
</div>