<div class="overflow-hidden">
    <div class="menu-mask d-none"></div>
   <!-- MOBILE MENU HOLDER -->
   <div class="mobile-menu-holder" [class.is-active]="isMenuOpen">
    <div class="modal-menu-container">
      <div class="exit-mobile" (click)="closeMenu()">
        <img src="assets/images/icon_close_popup.svg" class="img-responsive" />
      </div>                               
      <ul class="menu-mobile">
        <!-- <li class="current-menu-item">
                <a href="index.html">Home</a>
            </li> -->


        <li class="menu-item">
          <a [routerLink]="['/home']">Home</a>
        </li>

        <!-- <li class="menu-item">
            <a href="about-us.html" aria-label="About Us">About Us</a>
          </li> -->
        <li class="menu-item">
          <a [routerLink]="['/service']">Our Services</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/Join']">Join Us</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/booking-form']" aria-label="Book Now">Book Now</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/login']" aria-label="Book Now">My Account</a>
        </li>

        <!-- <li class="menu-item mega-menu">
                <a href="product-category.html">Collections</a>
  
                <ul class="sub-menu">
                    <li class="menu-item">
                        <a href="#">Small Sheds</a>
                    </li>
  
                    <li class="menu-item">
                        <a href="#">Small Sheds</a>
                    </li>
  
                    <li class="menu-item">
                        <a href="#">Small Sheds</a>
                    </li>
  
                    <li class="menu-item">
                        <a href="#">Small Sheds</a>
                    </li>
                </ul>
            </li> -->
      </ul>
    </div>
  </div>
  <!-- /Mobile Menu Holder -->

  <!-- Header -->
  <header class="main-header header-1">
    <div class="top-header xxs-d-none" style="background: #59a52c">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="display: flex">
            <a href="tel:+411125477" class="head-tel"><i class="fa fa-phone"></i> 0411 125 477</a>
            <a class="tel-right" href="mailto:info@romedia.com"><i class="fa fa-envelope-o"></i>
              info@blissfulhomes.com.au</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12 xs-sm-d-flex xs-sm-align-center">
          <div class="logo">
            <a href="index.html">
              <img class="img-responsive" src="assets/images/logo.png" alt="" />
            </a>
          </div>

          <button type="button" class="nav-button d-none ml-auto xs-sm-d-flex xs-sm-d-block" (click)="toggleMenu()">
            <img src="assets/images/icon_menu.svg" style="width: 24px" />
          </button>
        </div>

        <div class="col-md-5 xs-sm-d-none" [ngClass]="{ 'd-none': isMenuOpen }">
          <nav class="nav-holder d-flex align-items-center justify-content-end">
            <ul class="menu-nav">

              <li class="menu-item">
                <a [routerLink]="['/home']" style="color: #59a52c !important;">Home</a>
              </li>
              <!-- <li class="menu-item"><a href="about-us.html">About Us</a></li> -->
              <li class="menu-item">
                <a [routerLink]="['/service']">Our Services</a>
              </li>
              <li class="menu-item">
                <a [routerLink]="['/join']">Join Us</a>
              </li>

              <!-- <li class="menu-item mega-menu">
                          <a href="#">Global</a>
  
                          <ul class="sub-menu">
                              <li class="menu-item">
                                  <a href="#">Small Sheds</a>
  
                                  <ul class="sub-menu">
                                      <li class="menu-item"><a href="#">New Arrivals</a></li>
                                      <li class="menu-item"><a href="#">Best Sellers</a></li>
                                      <li class="menu-item"><a href="#">Back in Stock</a></li>
                                  </ul>
                              </li>
                              <li class="menu-item">
                                  <a href="#">Small Sheds</a>
                              </li>
  
                              <li class="menu-item">
                                  <a href="#">Small Sheds</a>
                              </li>
  
                              <li class="menu-item">
                                  <a href="#">Small Sheds</a>
                              </li>
                          </ul>
                      </li> -->
            </ul>
          </nav>
        </div>

        <div class="col-md-2 xs-sm-d-none">
          <a [routerLink]="['/booking-form']" class="btn-blue book-btn"
            style="width: 100%">Book Now</a>
        </div>
        <div class="col-md-1 xs-sm-d-none d-flex justify-content-end">
            <li class="header-profile dropdown">
              <a class="" type="button" id="dropdownMenuButton" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" [routerLink]="['/login']">My Account</a></li>
              </ul>
            </li>
          </div>
        
      </div>
    </div>
  </header>




  <section class="tb-equal position-relative">
    <div class="container">
        <div class="row justify-content-center">                       

            <!--<div class="join-form mt-50">-->

                <div class="col-lg-11 col-md-12 m-auto">
                   <p><strong>Privacy Policy </strong> </p>
<p>Just Synergistic Brilliance Pty Ltd Trading as Blissful Homes is committed to providing quality services to you and this policy outlines our ongoing obligations to you in respect of how we manage your Personal Information. </p>
<p>We have adopted the Australian Privacy Principles (APPs) contained in the Privacy Act 1988 (Cth) (the Privacy Act). The NPPs govern the way in which we collect, use, disclose, store, secure and dispose of your Personal Information. </p>
<p>A copy of the Australian Privacy Principles may be obtained from the website of The Office of the Australian Information Commissioner at https://www.oaic.gov.au/. </p>
<p><strong>What is Personal Information and why do we collect it? </strong></p>
<p>Personal Information is information or an opinion that identifies an individual. Examples of Personal Information we collect includes names, addresses, email addresses, and mobile. </p>
<p>This Personal Information is obtained in many ways including [interviews, correspondence, by telephone and facsimile, by email, via our website https://www.blissfulhomes.com.au, from your website, from media and publications, from other publicly available sources, from cookies- delete all that aren’t applicable] and from third parties. We don’t guarantee website links or policy of authorised third parties. </p>
<p>We collect your Personal Information for the primary purpose of providing our services to you, providing information to our clients and marketing. We may also use your Personal Information for secondary purposes closely related to the primary purpose, in circumstances where you would reasonably expect such use or disclosure. You may unsubscribe from our mailing/marketing lists at any time by contacting us in writing. </p>
<p>When we collect Personal Information we will, where appropriate and where possible, explain to you why we are collecting the information and how we plan to use it. </p>
<p><strong>Sensitive Information </strong></p>
<p>Sensitive information is defined in the Privacy Act to include information or opinion about such things as an individual’s racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs, membership of a trade union or other professional body, criminal record or health information. </p>
<p>Sensitive information will be used by us only: </p>
<p>•	For the primary purpose for which it was obtained </p>
<p>•	For a secondary purpose that is directly related to the primary purpose </p>
<p>•	With your consent; or where required or authorised by law. </p>
<p><strong>Third Parties </strong></p>
<p>Where reasonable and practicable to do so, we will collect your Personal Information only from you. However, in some circumstances we may be provided with information by third parties. In such a case we will take reasonable steps to ensure that you are made aware of the information provided to us by the third party. </p>
<p><strong>Disclosure of Personal Information </strong></p>
<p>Your Personal Information may be disclosed in a number of circumstances including the following: </p>
<p>•	Third parties where you consent to the use or disclosure; and </p>
<p>•	Where required or authorised by law. </p>
<p><strong>Security of Personal Information </strong></p>
<p>Your Personal Information is stored in a manner that reasonably protects it from misuse and loss and from unauthorized access, modification or disclosure. </p>
<p>When your Personal Information is no longer needed for the purpose for which it was obtained, we will take reasonable steps to destroy or permanently de-identify your Personal Information. However, most of the Personal Information is or will be stored in client files which will be kept by us for a minimum of 7 years. </p>
<p><strong>Access to your Personal Information</strong> </p>
<p>You may access the Personal Information we hold about you and to update and/or correct it, subject to certain exceptions. If you wish to access your Personal Information, please contact us in writing. </p>
<p>Just Synergistic Brilliance Pty Ltd Trading as Blissful Homes will not charge any fee for your access request but may charge an administrative fee for providing a copy of your Personal Information. </p>
<p>In order to protect your Personal Information we may require identification from you before releasing the requested information. </p>
<p>Maintaining the Quality of your Personal Information </p>
<p>It is an important to us that your Personal Information is up to date. We will  take reasonable steps to make sure that your Personal Information is accurate, complete and up-to-date. If you find that the information we have is not up to date or is inaccurate, please advise us as soon as practicable so we can update our records and ensure we can continue to provide quality services to you. </p>
<p><strong>Policy Updates </strong></p>
<p>This Policy may change from time to time and is available on our website. </p>
<p><strong>Privacy Policy Complaints and Enquiries </strong></p>
<p>If you have any queries or complaints about our Privacy Policy please contact us at: </p>
<p>110 / 12 Corporate Drive, Heatherton, VIC 3202 </p>
mailto:<p>info@blissfulhomes.com.au </p>
<p>0411 125 477 </p>
                </div>

                <div class="col-lg-11 col-md-12 ml-auto mr-auto mt-40">
                  
                </div>

            <!--</div>--><!-- end form -->

        </div>
    </div>
</section>








  <footer id="footer" class="position-relative">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-12 ulink">
          <h4>Helpful Links</h4>
          <div class="mt-20"></div>
          <ul>
            <li><a href="https://www.blissfulhomes.com.au/">Home</a></li>
            <!-- <li><a href="#">About Us</a></li>-->
            <li><a href="https://www.blissfulhomes.com.au/">Services</a></li>
            <!-- <li><a href="https://blissfulhomes-staging.azurewebsites.net/contact/">Contact</a></li> -->
            <li>
              <a
                href="https://blissfulhomesbook.z26.web.core.windows.net/#/booking-form"
                >Book Online</a
              >
            </li>
            <li>
              <a [routerLink]="['/terms-&-condition']">Terms and Conditions</a>
            </li>
            <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
            <!-- <li><a href="#">Cookie and Data Policy</a></li>-->
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 ulink">
          <h4>Contact info</h4>
          <div class="mt-20"></div>

          <div class="text-left info_adderss">
            <a href="tel:+0411125477">0411 125 477</a>
            <a href="mailto:info@blissfulhomes.com.au"
              >info@blissfulhomes.com.au</a
            >
            <!-- <p>Monday - Friday: 9:00 AM - 5:30 PM</p>
            <p>Sunday: By Appointment</p> -->
          </div>
        </div>
        <div class="col-lg-3 col-md-12 ml-auto ulink">
          <h4>Social</h4>
          <ul class="d-flex social_info">
            <li>
              <a
                href="https://www.facebook.com/people/Blissful-Homes/61560491974886/?mibextid=LQQJ4d"
                ><img src="assets/images/facebook.svg" class="img-responsive"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/blissfulhomescleaning/"
                ><img src="assets/images/instagram.svg" class="img-responsive"
              /></a>
            </li>
            <li>
              <a href="https://www.pinterest.com.au/blissfulhomescleaning/"
                ><img src="assets/images/pinterest.svg" class="img-responsive"
              /></a>
            </li>
            <li>
              <a
                href="https://x.com/i/flow/login?redirect_after_login=%2Fblissful__homes"
                ><img src="assets/images/twitter.svg" class="img-responsive"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="container-fluid"
      style="border-top: 1px solid #fff; padding: 30px 0px 30px"
    >
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <p>
            ©
            <a href="#" style="color: #137dc5; font-weight: 600"
              >Just Synergistic Brilliance Pty Ltd Trading as Blissful Homes</a
            >
            2024. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>

<style>
    @media only screen and (max-width: 991px) {
      .xs-sm-d-block {
        display: block !important;
      }
    }
  </style>