<div class="login-outer">
    <div class="login-items input-forms">

        <div class="part1"
            style="background: #eee url(./assets/images/lefbg.png)no-repeat; display: grid; justify-content: center; align-content: center;">
            <a  [routerLink]="['/']">  <img src="assets/images/logo.png" style="max-width: 300px;" class="logo-log"></a>
        </div>
        <form [formGroup]="bookingForm">
            <div class="part2" style="padding: 15px 60px 15px 60px; background: #1D72F1;">

                <h2 style="font-size: 33px !important;">Create Account</h2>
                <div class="mt-20"></div>

                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name *" formControlName="customerFname"
                    appAlphabeticOnly noLeadingSpaces />
                <div *ngIf="submitted &&
                      bookingForm.get('customerFname')?.errors" class="help-block">
                    First Name is required.
                </div>

                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name *" formControlName="customerLname"
                    appAlphabeticOnly noLeadingSpaces />
                <div *ngIf="submitted &&bookingForm.get('customerLname')?.errors" class="help-block">
                    Last Name is required.
                </div>

                <label>Phone Number</label>
                <input type="text" class="form-control" placeholder="Mobile*" formControlName="mobile" numbersOnly
                    (keydown)="onKeyDown1($event)" (blur)="onphoneBlur()" />

                <div *ngIf="submitted && bookingForm.get('mobile')?.hasError('required')" class="help-block">
                    Phone no. is required.
                </div>
                <div *ngIf="phoneTouched && bookingForm.get('mobile')?.hasError('pattern') && !bookingForm.get('mobile')?.hasError('AlreadyExists')"
                    class="help-block">
                    Incorrect number.
                </div>

                <label>Email ID</label>
                <input type="email" class="form-control" placeholder="Email *" formControlName="email"
                    (blur)="onEmailBlur()" noLeadingSpaces />
                <div style="display: flex;">
                    <div *ngIf="bookingForm.get('email')?.hasError('emailAlreadyExists')" class="help-block">
                        Email already exist.
                    </div>
                    <div style="margin-left: 85px;" class="mt-10 text-right"
                        *ngIf="bookingForm.get('email')?.hasError('emailAlreadyExists')">

                        <!-- <a style="color: #0000EE; cursor: pointer;" [routerLink]="['/login']">Login</a> -->
                    </div>
                </div>
                <div *ngIf="emailTouched && bookingForm.get('email')?.hasError('pattern') && !bookingForm.get('email')?.hasError('emailAlreadyExists')"
                    class="help-block">
                    Please enter a valid email.
                </div>

                <div *ngIf="submitted && bookingForm.get('email')?.hasError('required') && !bookingForm.get('email')?.hasError('emailAlreadyExists')"
                    class="help-block">
                    Email is required.
                </div>

                <label for="password">Password</label>
                <div class="d-flex position-relative">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control password"
                        placeholder="Password *" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <div class="eye-icon" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
                    </div>
                </div>

                <div *ngIf="submitted && f['password'].errors" class="help-block">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div>
                <input type="submit" value="Submit" (click)="registeredForm()">

            </div>
        </form>
    </div>
</div>