
    @media (min-width: 320px) and (max-width: 480px) {
        .table-style.new th, .table-style.new td{font-size: 12px;}
    }

.table-style.new{
border-radius: 0px;
margin-bottom: 19rem;
}
.table-style.new th{
background: #137DC5;
text-align: center;
line-height: normal;

}
.table-style.new td{
    max-width: 300px !important;
    min-width: 140px;
text-align: center;
line-height: normal;
}
.table-style.new th small {
line-height: normal;
display: block;
}
.table-style.new td img{
    margin: auto; display: block;
}
.active-link {
    background-color: #2f1aeb; 
    border: 1px solid #ccc;    
  
    padding: 9px;             
    border-radius: 5px;        
    color: #137DC5!important;   
    background: none;
  
    text-decoration: none;            
}

.active-link:hover {
    background-color: #ffffff; 
    border-color: #ffffff;
    color: #6b1de7;        
}
.menu-nav li a {
    color: #222;
    padding: 9px;
    position: relative;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
}
.menu-nav li a:hover {
    color: #59a52c;   
}
.header-profile {
    position: relative;
    list-style: none;
  }
  
  .header-profile .setting {
    cursor: pointer;
    padding: 10px;
  }
  
  .header-profile .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .fa-solid{
    top: 3px;
    font-size: 20px;
  }
  .header-profile:hover .dropdown-menu {
    display: block;
  }
  
  .header-profile .dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }
  
  .header-profile .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  .fa-user{
    content: "\f007";
    font-size: 25px;
    border: 3px solid #137DC5;
    border-radius: 50%;
    padding: 5px;
  }
  @media (max-width: 768px) {
    .xs-sm-d-none {
      display: none !important;
    }
    .xs-sm-d-flex {
      display: flex !important;
    }
    .xs-sm-align-center {
      align-items: center !important;
    }
    .xs-sm-d-block {
      display: block !important;
    }
    .nav-button {
      display: block;
    }
    .nav-holder {
      flex-direction: column;
      align-items: flex-start;
    }
    .menu-nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .menu-item {
      width: 100%;
    }
    .btn-blue {
      width: 100%;
    }
  }