<div class="overflow-hidden">
  <div class="menu-mask d-none"></div>
  <!-- MOBILE MENU HOLDER -->
  <div class="mobile-menu-holder" [class.is-active]="isMenuOpen">
    <div class="modal-menu-container">
      <div class="exit-mobile" (click)="closeMenu()">
        <img src="assets/images/icon_close_popup.svg" class="img-responsive" />
      </div>
      <ul class="menu-mobile">
        <!-- <li class="current-menu-item">
                  <a href="index.html">Home</a>
              </li> -->

        <li class="menu-item">
          <a [routerLink]="['/']">Home</a>
        </li>

        <!-- <li class="menu-item">
              <a href="about-us.html" aria-label="About Us">About Us</a>
            </li> -->
        <li class="menu-item">
          <a [routerLink]="['/service']">Our Services</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/join']">Join Us</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/booking-form']" aria-label="Book Now">Book Now</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/login']" aria-label="Book Now">My Account</a>
        </li>

        <!-- <li class="menu-item mega-menu">
                  <a href="product-category.html">Collections</a>
    
                  <ul class="sub-menu">
                      <li class="menu-item">
                          <a href="#">Small Sheds</a>
                      </li>
    
                      <li class="menu-item">
                          <a href="#">Small Sheds</a>
                      </li>
    
                      <li class="menu-item">
                          <a href="#">Small Sheds</a>
                      </li>
    
                      <li class="menu-item">
                          <a href="#">Small Sheds</a>
                      </li>
                  </ul>
              </li> -->
      </ul>
    </div>
  </div>
  <!-- /Mobile Menu Holder -->

  <!-- Header -->
  <header class="main-header header-1">
    <div class="top-header xxs-d-none" style="background: #59a52c">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="display: flex">
            <a href="tel:+411125477" class="head-tel"
              ><i class="fa fa-phone"></i> 0411 125 477</a
            >
            <a class="tel-right" href="mailto:info@romedia.com"
              ><i class="fa fa-envelope-o"></i> info@blissfulhomes.com.au</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12 xs-sm-d-flex xs-sm-align-center">
          <div class="logo">
            <a href="index.html">
              <img class="img-responsive" src="assets/images/logo.png" alt="" />
            </a>
          </div>

          <button
            type="button"
            class="nav-button d-none ml-auto xs-sm-d-flex xs-sm-d-block"
            (click)="toggleMenu()"
          >
            <img src="assets/images/icon_menu.svg" style="width: 24px" />
          </button>
        </div>

        <div class="col-md-5 xs-sm-d-none" [ngClass]="{ 'd-none': isMenuOpen }">
          <nav class="nav-holder d-flex align-items-center justify-content-end">
            <ul class="menu-nav">
              <li class="menu-item">
                <a [routerLink]="['/']">Home</a>
              </li>
              <!-- <li class="menu-item"><a href="about-us.html">About Us</a></li> -->
              <li class="menu-item">
                <a [routerLink]="['/service']">Our Services</a>
              </li>
              <li class="menu-item">
                <a [routerLink]="['/join']">Join Us</a>
              </li>

              <!-- <li class="menu-item mega-menu">
                            <a href="#">Global</a>
    
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="#">Small Sheds</a>
    
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#">New Arrivals</a></li>
                                        <li class="menu-item"><a href="#">Best Sellers</a></li>
                                        <li class="menu-item"><a href="#">Back in Stock</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Small Sheds</a>
                                </li>
    
                                <li class="menu-item">
                                    <a href="#">Small Sheds</a>
                                </li>
    
                                <li class="menu-item">
                                    <a href="#">Small Sheds</a>
                                </li>
                            </ul>
                        </li> -->
            </ul>
          </nav>
        </div>

        <div class="col-md-2 xs-sm-d-none">
          <a
            [routerLink]="['/booking-form']"
            class="btn-blue book-btn"
            style="width: 100%"
            >Book Now</a
          >
        </div>
        <div class="col-md-1 xs-sm-d-none d-flex justify-content-end">
          <li class="header-profile">
            <a
              class=""
              type="button"
              id="dropdownMenuButton"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a class="dropdown-item" [routerLink]="['/login']"
                  >My Account</a
                >
              </li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </header>
  <!-- /Header -->

  <footer id="footer" class="position-relative">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-12 ulink">
          <h4>Helpful Links</h4>
          <div class="mt-20"></div>
          <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li>
              <a [routerLink]="['/service']"> Our Services</a>
            </li>
            <!-- <li><a href="#">About Us</a></li> -->
            <li><a [routerLink]="['/join']">Join Us</a></li>
            <li><a [routerLink]="['/booking-form']">Book Now</a></li>

            <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
            <li>
              <a [routerLink]="['/terms-&-condition']">Terms and Conditions</a>
            </li>

            <!-- <li><a href="#">Cookie and Data Policy</a></li>					 -->
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 ulink">
          <h4>Contact info</h4>
          <div class="mt-20"></div>

          <div class="text-left info_adderss">
            <a href="tel:+0411125477">0411 125 477</a>
            <a href="mailto:info@blissfulhomes.com.au"
              >info@blissfulhomes.com.au</a
            >
            <!-- <p>Monday - Friday: 9:00 AM - 5:30 PM</p>
              <p>Sunday: By Appointment</p> -->
          </div>
        </div>
        <div class="col-lg-3 col-md-12 ml-auto ulink">
          <h4>Social</h4>
          <ul class="d-flex social_info">
            <li>
              <a href="https://www.facebook.com/profile.php?id=61560491974886"
                ><img src="assets/images/facebook.svg" class="img-responsive"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/blissfulhomescleaning/"
                ><img src="assets/images/instagram.svg" class="img-responsive"
              /></a>
            </li>
            <li>
              <a href="https://www.pinterest.com.au/blissfulhomescleaning/"
                ><img src="assets/images/pinterest.svg" class="img-responsive"
              /></a>
            </li>
            <li>
              <a href="https://x.com/blissful__homes"
                ><img src="assets/images/twitter.svg" class="img-responsive"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="container-fluid"
      style="border-top: 1px solid #fff; padding: 30px 0px 30px"
    >
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <p>
            ©
            <a href="#" style="color: #137dc5; font-weight: 600"
              >Just Synergistic Brilliance Pty Ltd Trading as Blissful Homes</a
            >
            2024. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>

<style>
  @media only screen and (max-width: 991px) {
    .xs-sm-d-block {
      display: block !important;
    }
  }
</style>
