.help-block{
    color: #000000;
    font-weight: 500;
}
.black-btn {
    background: #303740;
    border: none;
    padding: 0px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    height: 46px;
    width: 100%;
    cursor: pointer;
    min-width: 70px; 
}

@media (min-width: 576px) and (max-width: 767px) {
    .row .col-lg-8, .row .col-md-8, .row .col-sm-8 {
        flex: 0 0 66.666667%; 
        max-width: 66.666667%;
    }

    .row .col-lg-4, .row .col-md-4, .row .col-sm-4 {
        flex: 0 0 33.333333%; 
        max-width: 33.333333%;
    }

    .row .col-lg-4.col-md-4.col-sm-4.mt-2-567 {
        margin-top: 0;
    }
}