.help-block{
    color: #000000;
    text-align: center;
    font-weight: 500;
}
.black-btn {
    background: #303740;
    border: none;
    padding: 0px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    height: 46px;
    width: 100%;
    cursor: pointer;
}